{% extends 'base.html' %}
{% block title %}Grafos{% endblock %}
{% block graph_nav_item %}active{% endblock %}
{% block custom_styles_js %}
<script src="{{ url_for('static',filename='js/vis.js' ) }}"></script>
<style type="text/css">
  #mynetwork {
    width: 80%;
    max-width: 600px;
    height: 400px;
    border: 1px solid lightgray;
    margin: 2% auto;
  }

  @media (max-width: 768px) {
    #mynetwork {
      width: 90%;
      height: 250px;
    }
  }

  @media (max-width: 480px) {
    #mynetwork {
      width: 95%;
      height: 200px;
    }
  }
</style>
{% endblock %}

{% block blank_main_content %}
<div>
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">GRAFO DIRIGIDO CON PESOS</font>
        </font>
      </h6>
    </div>
    <div class="card-body">
      <div id="mynetwork"></div>
      <script type="text/javascript" src="{{ url_for('static', filename='js/grafo.js') }}">
      </script>
    </div>
  </div>
</div>
{% endblock %}