{% extends 'base.html' %}
{% set titulo = 'Veterinaria' if vet else 'Mascota' %}
{% block title %}Grafo {{ titulo }}{% endblock %}

{% block graph_pet_nav_item %}{{ 'active' if not vet else '' }}{% endblock %}
{% block graph_vet_nav_item %}{{ 'active' if vet else '' }}{% endblock %}

{% block custom_styles_js %}
<script src="{{ url_for('static',filename='js/vis.js' ) }}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/responsive-graph.css' ) }}">
{% endblock %}

{% block blank_main_content %}
<div>
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">GRAFO DIRIGIDO CON PESOS</font>
        </font>
      </h6>
    </div>
    <div class="card-body">
      <div id="mynetwork"></div>
      <br>
      <center>
        <a href="/graph/{% if vet %}vet{% else %}pet{% endif %}/0">
          <button class="btn btn-primary btn-icon-split">
            <span class="text">Grafo Guardado (Original)</span>
          </button>
        </a>
      </center>
      <br>
      <div class="card mb-4">
        <div class="card-header">
          Adyacencias aleatorias
        </div>
        <div class="card-body">
          <a href="/graph/{% if vet %}vet{% else %}pet{% endif %}/True" class="btn btn-primary btn-icon-split">
            <span class="text">Relación Aleatoria</span>
          </a>
        </div>

        <div class="card-header">
          Agregar adyacencias
        </div>
        <div class="card-body">
          <form action="/agregar-adyacencia/{% if vet %}1{% else %}0{% endif %}" method="post">

            <div class="form-group col-sm-6">
              <select class="form-control" name="v1" id="vertice1">
                {% for name, vertice in vertices.items() %}
                <option value="{{ vertice }}">{{ vertice }}. {{ name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group col-sm-6">
              <select class="form-control" name="v2" id="vertice2">
                {% for name, vertice in vertices.items() %}
                <option value="{{ vertice }}">{{ vertice }}. {{ name }}</option>
                {% endfor %}
              </select>
            </div>

            <!-- boton -->
            <button type="submit" class="btn btn-primary btn-icon-split">
              <span class="text">Agregar Adyacencia</span>
            </button>
          </form>
        </div>

        <div class="card-header">
          Camino mas corto
        </div>
        <div class="card-body">
          <a onclick="document.getElementById('shortest-path').submit()" href="#" class="btn btn-primary btn-icon-split">
            <span class="text" >Calcular camino mas corto</span>
          </a><br><br>
          <form id="shortest-path" class="form row" action="/shortest-path/{% if vet %}1{% else %}0{% endif %}" method="post">
            <div class="form-group col-sm-6">
              <select class="form-control" name="source" id="vertice1">
                {% for name, vertice in vertices.items() %}
                <option value="{{ vertice }}">{{ vertice }}. {{ name }}</option>
                {% endfor %}
              </select>
          </form>

            {% block shortest_path %}
              
            {% endblock %}
          
        </div>
      </div>

    </div>
  </div>
</div>

{% if vet %}
<script type="text/javascript" src="{{ url_for('static', filename='js/grafoVeterinaria.js') }}"></script>
{% else %}
<script type="text/javascript" src="{{ url_for('static', filename='js/grafoMascota.js') }}"></script>
{% endif %}

{% endblock %}